body {

    background-color: #ececea;
    margin: 0;
    padding: 0;
    }

nav ul {
    display: flex;
    justify-content: space-between;
    background-color: #4c4c5f;
    padding: 10px;
    margin: 0;
    list-style: none;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  }
  
  nav ul a {
    color: rgba(255, 255, 255, 0.521);
    text-decoration: none;
  }
  
  nav ul a:hover {
    color: #d8d9da;
    transition: 0.3s;
  }
=======
    font-size: 24px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
   
}

.Iphone_title{

    padding: 10px;
    display: flexbox;
  
    text-align: center;
    background-color: #fff;
    
  
}


a{ 
    text-decoration: none;
}


    img {
       
       
    background: url(img_man.jpg) no-repeat center; 
  background-size: cover;
  height: 500px;
  position: relative;
      }

.class1{

background-color:black;
color: #fff;
text-align: center;
    

}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
}

.class2{
    display: flex;
   justify-content: space-around;
    flex-direction: row;
  flex-wrap: wrap;
    align-items: center;
}

.wrapper {
    display: flex;
}

